@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: lato, sans-serif;
  color: #595c61;
}

/* Header */
nav {
  display: none;
}

#exit-button {
  display: none;
}

.open-menu {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 100px;
  background-color: #313131;
}

.open-menu a {
  color: #fff;
  text-decoration: none;
}

.top-nav {
  width: 100%;
  margin-bottom: 80px;
}

.top-nav #exit-button {
  display: block;
  position: relative;
  top: -90%;
  left: 85%;
  color: #fff;
}

.top-nav #exit-button:hover {
  cursor: pointer;
}

.top-nav ul {
  width: 100%;
  display: -webkit-box;
  display: none;
  justify-content: space-evenly;
}

.top-nav ul li {
  list-style: none;
  margin-bottom: 20px;
}

.top-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.bottom-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.bottom-nav #nav-logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.bottom-nav #nav-logo span {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 5px;
}

.bottom-nav #nav-logo a {
  color: #ec5242;
  text-decoration: none;
}

.bottom-nav ul {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
}

.bottom-nav ul li {
  list-style: none;
}

.bottom-nav #campaign {
  font-size: 1rem;
  border: 2px solid gray;
  padding: 15px 25px;
}

.bottom-nav #campaign:hover {
  background-color: #eeeded;
  color: #ec5242;
  border: 2px solid #ec5242;
}

header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 20px 50px 20px;
}

header .menu {
  color: #ec5242;
}

header .menu i:hover {
  cursor: pointer;
}

header #headline {
  margin-top: 35px;
}

header #headline #welcome-words {
  color: #ec5242;
  font-family: lato, sans-serif;
  margin: 30px 0 5px 0;
  font-size: 1.2rem;
}

header #headline h1 {
  background: url(../images/red-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: cocogoose, sans-serif;
}

header #headline h1 .h1-span {
  display: block;
  margin-top: -12px;
}

header #headline p {
  border: 3px solid #fff;
  background-color: #faf7f7;
  font-size: 0.8rem;
  font-family: lato, sans-serif;
  font-weight: 500;
  padding: 10px;
  line-height: 1.5;
  margin: 20px 0 10px 0;
}

header #headline #next-class {
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: cocogoose, sans-serif;
}

header #headline #next-class #start-date {
  display: block;
  margin-top: -8px;
}

header #headline #location {
  display: block;
  font-family: lato, sans-serif;
  font-size: 0.8rem;
  margin-top: -3px;
}

/* Main */

main #main-curriculum {
  background-image: url(../images/hit-bg.png);
  background-size: cover;
  background-position: right;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 15px;
}

main #main-curriculum .red-line {
  width: 50px;
  height: 2px;
  background-color: #ec5242;
  opacity: 0.6;
  margin: 15px 0 30px 0;
}

main #main-curriculum .languages {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(82, 81, 81, 0.164);
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

main #main-curriculum .languages span {
  color: #fff;
  background-color: #ec5242;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

main #main-curriculum .languages h3 {
  color: #ec5242;
}

main #main-curriculum .languages p {
  width: 50%;
  font-size: 0.8rem;
  line-height: 1.5;
}

main #main-curriculum .languages:hover {
  cursor: pointer;
  outline: 2px solid white;
}

main #main-curriculum button {
  background-color: #ec5242;
  border: none;
  color: #fff;
  width: 40%;
  font-size: 1rem;
  padding: 20px;
  margin-top: 30px;
}

main #main-curriculum button:hover {
  cursor: pointer;
}

main #main-curriculum #see-program {
  display: none;
}

main #speakers {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 15px;
}

main #speakers .red-line {
  width: 50px;
  height: 2px;
  background-color: #ec5242;
  opacity: 0.6;
  margin: 15px 0 30px 0;
}

main #speakers .speakers {
  display: -webkit-box;
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

main #speakers .speakers .profile-container {
  background-image: url("../images/checkerboard-squares-black-white.jpg");
  background-repeat: no-repeat;
  background-size: 40%;
  width: 135px;
  height: 135px;
  position: relative;
}

main #speakers .speakers .profile-container #img-div1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
}

main #speakers .speakers .profile-container #img-div2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
}

main #speakers .speakers .profile-container #img-div3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
}

main #speakers .speakers .profile-container #img-div4 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-position: top;
}

main #speakers .speakers .profile-container #img-div5 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-position: top;
}

main #speakers .speakers .profile-container #img-div6 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-position: top;
}

main #speakers .speakers .speaker-info {
  width: 60%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 0.8rem;
  font-style: italic;
  color: #ec5242;
}

main #speakers .speakers .speaker-info .grey-line {
  width: 20px;
  height: 2px;
  background-color: #e7e8e9;
}

main #speakers .speakers .speaker-info p {
  font-size: 0.8rem;
}

main section#partners {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #434344;
  padding: 30px 10px;
}

main section#partners h2 {
  color: #fff;
}

main section#partners .red-line {
  width: 50px;
  height: 2px;
  background-color: #ec5242;
  opacity: 0.6;
  margin: 15px 0 30px 0;
}

main section#partners #partners-container {
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

main section#partners #partners-container span {
  color: #979494;
  font-size: 1.2rem;
}

main section#partners #partners-container span i {
  margin-right: 5px;
}

/* Footer */
footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 30px;
}

footer .logo {
  display: -webkit-box;
  display: flex;
  color: black;
}

footer .logo div {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 0.8rem;
  font-family: cocogoose, sans-serif;
  margin-left: 3px;
}

#footer-p {
  font-size: 0.6rem;
  width: 35%;
  line-height: 1.5;
}

/* Media Queries */
@media (max-width: 380px) {
  header h1 {
    font-size: 1.8rem;
  }

  header #next-class {
    font-size: 1.2rem;
  }

  .top-nav ul {
    display: none;
  }
}

@media (min-width: 768px) {
  nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #e9e7e7;
    background-color: #faf7f7;
    position: relative;
    z-index: 1;
  }

  nav:hover {
    -webkit-box-shadow: 0 0 8px 3px #c4c1c1;
    box-shadow: 0 0 8px 3px #c4c1c1;
  }

  nav a {
    text-decoration: none;
    color: #595c61;
  }

  nav a:hover {
    color: #ec5242;
  }

  nav #top-nav {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
    background-color: #313131;
    padding: 10px 0;
  }

  nav #top-nav ul {
    width: 80%;
    min-width: 768px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 30px;
  }

  nav #top-nav ul li {
    list-style: none;
  }

  nav #top-nav ul li a {
    text-decoration: none;
    color: #fff;
  }

  nav #top-nav ul li a:hover {
    color: #ec5242;
  }

  nav #bottom-nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
    min-width: 768px;
    padding: 15px 0;
  }

  nav #bottom-nav #nav-logo {
    display: -webkit-box;
    display: flex;
  }

  nav #bottom-nav #nav-logo span a {
    color: #ec5242;
    text-decoration: none;
  }

  nav #bottom-nav #nav-logo div a {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: black;
    text-decoration: none;
    font-family: cocogoose, sans-serif;
    margin-left: 3px;
  }

  nav #bottom-nav ul {
    display: -webkit-box;
    display: flex;
    width: 55%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 10%;
  }

  nav #bottom-nav ul li {
    list-style: none;
  }

  nav #bottom-nav #campaign {
    border: 5px solid #ec5242;
    padding: 10px;
  }

  nav #bottom-nav #campaign span {
    color: #ec5242;
  }

  nav #bottom-nav #campaign span i {
    margin-right: 5px;
  }

  nav #bottom-nav #campaign:hover {
    cursor: pointer;
    border: 2px solid #ec5242;
  }

  header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    height: 100vh;
    background-image: url(../images/bkgrnd.png);
    background-position: top;
  }

  header #menu {
    display: none;
  }

  header #headline {
    margin-top: 150px;
    width: 80%;
    min-width: 800px;
  }

  header #headline #welcome-words {
    font-size: 3rem;
  }

  header #headline h1 {
    font-size: 4.5rem;
  }

  header #headline .h1-span {
    margin-top: -35px;
  }

  header #headline p {
    margin: 0 0 40px 0;
    width: 65%;
    max-width: 800px;
    font-size: 1.1rem;
    padding: 15px 30px;
  }

  header #headline span#next-class {
    font-size: 2rem;
  }

  header #headline span#next-class #start-date {
    display: inline-block;
  }

  header #headline #location {
    display: block;
    font-size: 1.5rem;
  }

  main #main-curriculum {
    background-position: bottom;
  }

  main #main-curriculum h2 {
    padding: 30px 0 0 0;
  }

  main #main-curriculum #languages-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 3px;
    max-width: 70%;
  }

  main #main-curriculum #languages-container .languages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    min-width: 160px;
    padding: 20px 0;
  }

  main #main-curriculum #languages-container .languages h3 {
    padding: 5px 0;
  }

  main #main-curriculum button {
    display: none;
  }

  main #main-curriculum #see-program {
    display: block;
    text-decoration: underline;
    padding: 50px 0;
  }

  main #speakers {
    padding: 50px 0;
  }

  main #speakers .red-line {
    margin-bottom: 50px;
  }

  main #speakers #speakers-container {
    width: 50%;
    min-width: 768px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 0;
    column-gap: 0;
    row-gap: 50px;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  main #speakers #speakers-container .speakers {
    width: 100%;
  }

  main #speakers #speakers-container .speakers .speaker-info {
    margin-top: -5px;
  }

  main #speakers #speakers-container .speakers .speaker-info p {
    font-size: 1rem;
  }

  main section#partners {
    padding: 50px 0;
  }

  main section#partners h2 {
    color: #8f8c8c;
  }

  main section#partners #partners-container {
    gap: 50px;
  }

  main section#partners #partners-container span {
    font-size: 2em;
  }

  footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
    padding: 80px 0;
  }

  footer .logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer .logo #footer-logo {
    font-size: 1.5rem;
  }

  footer .logo #logo-name {
    font-size: 1.5rem;
  }

  footer #footer-p {
    font-size: 1.2rem;
  }

  .heads {
    margin-bottom: 150px;
  }
}
